{% extends 'task/layouts/base.html' %}
{% load static %}
{% block title %}Detalles de tareas{% endblock title %}
{% block header %}
{% include 'layouts/partials/navbar.html' %}
{% endblock header %}
{% block content %}
<h2 class=" ps-3 mt-3 modal-title title_modal_custom mb-4" id="exampleModalLabel"><a href=" {% url 'home:task' %} "><span class="material-symbols-outlined">arrow_back_ios_new</span></a> Detalle Tarea {{ taskDetail.title}}</h2>
    <div class="detail_task f_d_column ps-5 pe-5 mt-4">           
        <div class="card">
            <div class="card-header">
                <p class="card-title f_d_row"><span class="material-symbols-outlined">title</span>Título: </p>
            </div>
            <div class="card-body">
                <p class="card-text">{{ taskDetail.title}} </p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <p class="card-title"><span class="material-symbols-outlined">description</span>Descripción:</p>
            </div>
            <div class="card-body">
                <p class="card-text">{{ taskDetail.description}} </p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <p class="card-title"><span class="material-symbols-outlined">calendar_clock</span>Fecha límite:</p>
            </div>
            <div class="card-body">
                <p class="card-text">{{ taskDetail.deadline}}</p>
            </div>
        </div>
        <br>
        <div class="row m-0 gap-4">
            <div class="card p-0 col ">
                <div class="card-header">
                    <p class="card-title"><span class="material-symbols-outlined">settings</span>Estado:</p>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ taskDetail.status}}</p>
                </div>
            </div>
            <div class="card p-0 col ">
                <div class="card-header">
                    <p class="card-title"><span class="material-symbols-outlined">priority_high</span>Prioridad:</p>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ taskDetail.task_priority}}</p>
                </div>
            </div>
        </div>
    </div>
   
    
{% endblock content %}