{% load static %}
<!DOCTYPE html>
<html lang="es" class='h-100'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'user_manager/style/style.css' %}">
    {% block style %} {% endblock style %}
    <link rel="shortcut icon" href="{% static 'task/img/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="layout h-100">
    <header>
        {% block header %}
        {% endblock header %}
    </header>

    <aside>
        {% block sidebar%}
        {% endblock sidebar%}
    </aside>
    <main >
        {% block content %}
        {% endblock content %}
    </main>

    <footer class="mt-auto">
        {% block footer %}{% endblock footer %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src=" {% static 'js/tooltipsConfig.js' %} "></script>
    <script src=" {% static 'js/clock.js' %} "></script>
</body>
</html>