{% load static %}

<div class="modal scale-up-vertical-center model_container_card" id="{% block name_modal %}{% endblock name_modal %}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content modal_card border-0 rounded-0">
      <div class="modal-header border-0">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body scroll_modal">
        {% block iframe_modal %}
        {% endblock iframe_modal %}
      </div>
    </div>
  </div>
</div>



