.sidebar {
    width: 4rem;
    background: rgb(108,117,125);
    background: linear-gradient(180deg, rgba(108,117,125,0.5) 0%, rgba(248,249,250,0) 80%);
    backdrop-filter: blur(5px);
}

.footer {
    z-index: 1;
}

.sidebar ul li{
    background: #6c757d80;
    margin-bottom: 5px;
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
}

/* .modal-body .form p label {
    color: red;

} */

/* .modal-body .form p input {
    background-color: red;

} */

.task_status_list_count {
    z-index: 2;
}