.loginBackground {
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

